node_modules
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.git
.env.example
.gitignore
.gitattributes
README.md
*.md
.editorconfig
phpunit.xml
.phpunit.result.cache
_ide_helper.php
.phpstorm.meta.php

